<launch>
    <arg name="serial_no_camera"    			default="936322072028"/> 			<!-- Note: Replace with actual serial number -->
    <arg name="camera"              			default="camera_right"/>		<!-- Note: Replace with camera name -->
    <arg name="tf_prefix_camera"                default="$(arg camera)"/>
    <arg name="initial_reset"                   default="false"/>
    <arg name="enable_fisheye"                  default="false"/>
    <arg name="color_width"                     default="640"/>
    <arg name="color_height"                    default="480"/>
    <arg name="depth_width"                     default="640"/>
    <arg name="depth_height"                    default="480"/>
    <arg name="clip_distance"                   default="-2"/>
    <arg name="topic_odom_in"                   default="odom_in"/>
    <arg name="calib_odom_file"                 default=""/>

    <group ns="$(arg camera)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="serial_no"             value="$(arg serial_no_camera)"/>
            <arg name="tf_prefix"         	value="$(arg tf_prefix_camera)"/>
            <arg name="initial_reset"         value="$(arg initial_reset)"/>
            <arg name="enable_fisheye1"       value="$(arg enable_fisheye)"/>
            <arg name="enable_fisheye2"       value="$(arg enable_fisheye)"/>
            <arg name="topic_odom_in"         value="$(arg topic_odom_in)"/>
            <arg name="calib_odom_file"       value="$(arg calib_odom_file)"/>
        </include>
    </group>
</launch>